extends layout

block content
  md-card
    md-card-title
      md-card-title-text
        h1= 'Restaurants nearby ' + stop.name
        
    md-actions
      a(href='/')
        md-button Back

    md-content
      each row in restaurants
        div.row
          span= row.name + ' (Lon: ' + row.lon + ', Lat: ' + row.lat + ')'
