extends layout

block content

  md-card
    md-card-title
      md-card-title-text
        h1= 'New route ' + name + ' added successfully'
  
        
    md-card-actions
      a(href='/')
        md-button Back

    md-content
      each row in stops
        div.row
          span= row.name
